<a href="https://colab.research.google.com/github/Goodness18/sql_week2_excercise/blob/main/Copy_of_Working_with_SQL_in_Jupyter_Notebooks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Washington State EV data
https://data.wa.gov/Transportation/Electric-Vehicle-Population-Data/f6w7-q2d2
Helpful site for finding data:https://data.gov/

To create a database using Python, you can utilize a database management system (DBMS) such as SQLite, MySQL, PostgreSQL, or others. Here's an example using SQLite, which is a lightweight, file-based DBMS that doesn't require a separate server:

Import the required module:

In [ ]:
import sqlite3

Establish a connection to the database. This line creates a connection to the database file named 'database.db'. If the file doesn't exist, it will be created. If it already exists, the connection will be established.

In [ ]:
conn = sqlite3.connect('database.db')

The cursor is used to execute SQL statements and manage the database.

In [ ]:
#create a cursor object:
cursor = conn.cursor()

Write a script to create a table in the database.

In [ ]:
cursor.execute('''CREATE TABLE vehicles (
    VIN TEXT,
    County TEXT,
    City TEXT,
    State TEXT,
    PostalCode TEXT,
    Year INTEGER,
    Make TEXT,
    Model TEXT,
    ElectricVehicleType TEXT,
    CleanAlternativeFuelVehicleEligibility TEXT,
    ElectricRange INTEGER,
    BaseMSRP DECIMAL(10, 2),
    LegislativeDistrict INTEGER,
    DOLVehicleID TEXT,
    VehicleLocation TEXT,
    ElectricUtility TEXT,
    CensusTract2020 TEXT
)''')

Read the csv data file using pandas

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/Electric_Vehicle_Population_Data.csv')
data

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract,Counties,Congressional Districts,WAOFM - GIS - Legislative District Boundary
0,5YJXCAE26J,Yakima,Yakima,WA,98908.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,0,14.0,141151601,POINT (-120.56916 46.58514),PACIFICORP,5.307700e+10,2746.0,4.0,20.0
1,JHMZC5F37M,Kitsap,Poulsbo,WA,98370.0,2021,HONDA,CLARITY,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,47,0,23.0,171566447,POINT (-122.64681 47.73689),PUGET SOUND ENERGY INC,5.303509e+10,848.0,6.0,29.0
2,5YJ3E1EB0K,King,Seattle,WA,98199.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,0,36.0,9426525,POINT (-122.40092 47.65908),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10,3009.0,7.0,31.0
3,1N4AZ0CP5D,King,Seattle,WA,98119.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,36.0,211807760,POINT (-122.3684 47.64586),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10,3009.0,7.0,31.0
4,5YJSA1E21H,Thurston,Lacey,WA,98516.0,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,22.0,185810306,POINT (-122.75379 47.06316),PUGET SOUND ENERGY INC,5.306701e+10,2742.0,10.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130438,7SAYGDEE6P,Pierce,Gig Harbor,WA,98335.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,26.0,231134102,POINT (-122.58354539999999 47.32344880000005),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10,3210.0,6.0,33.0
130439,1N4BZ1CV7N,Pierce,Tacoma,WA,98408.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,29.0,185810943,POINT (-122.43810499999995 47.203220000000044),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10,3210.0,6.0,35.0
130440,5YJYGDEE8M,King,Seattle,WA,98109.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,36.0,176542418,POINT (-122.35022 47.63824),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10,3009.0,7.0,31.0
130441,5YJXCBE22L,Island,Camano Island,WA,98282.0,2020,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,293,0,10.0,102834938,POINT (-122.40049 48.23986),BONNEVILLE POWER ADMINISTRATION||PUD 1 OF SNOH...,5.302997e+10,3007.0,2.0,16.0
130442,5YJ3E1EA5M,Pierce,Puyallup,WA,98375.0,2021,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,2.0,180473639,POINT (-122.30116 47.1165),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10,3210.0,10.0,32.0

In [ ]:
data2=data[['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Electric Vehicle Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range',
       'Base MSRP', 'Legislative District', 'DOL Vehicle ID',
       'Vehicle Location', 'Electric Utility', '2020 Census Tract']]

In [ ]:
data.columns

Index(['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Electric Vehicle Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range',
       'Base MSRP', 'Legislative District', 'DOL Vehicle ID',
       'Vehicle Location', 'Electric Utility', '2020 Census Tract', 'Counties',
       'Congressional Districts',
       'WAOFM - GIS - Legislative District Boundary'],
      dtype='object')

In [ ]:
# Insert the data2 into the table
query = "INSERT INTO vehicles VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"
values = data2.values.tolist()  # Convert DataFrame rows to a list of tuples
cursor.executemany(query, values)

In [ ]:
# Commit the changes to the database
conn.commit()

In [ ]:
query = "SELECT * FROM vehicles LIMIT 5"
results = cursor.execute(query)
for row in results:
  print(row)

('5YJXCAE26J', 'Yakima', 'Yakima', 'WA', '98908.0', 2018, 'TESLA', 'MODEL X', 'Battery Electric Vehicle (BEV)', 'Clean Alternative Fuel Vehicle Eligible', 238, 0, 14, '141151601', 'POINT (-120.56916 46.58514)', 'PACIFICORP', '53077001100.0')
('JHMZC5F37M', 'Kitsap', 'Poulsbo', 'WA', '98370.0', 2021, 'HONDA', 'CLARITY', 'Plug-in Hybrid Electric Vehicle (PHEV)', 'Clean Alternative Fuel Vehicle Eligible', 47, 0, 23, '171566447', 'POINT (-122.64681 47.73689)', 'PUGET SOUND ENERGY INC', '53035090400.0')
('5YJ3E1EB0K', 'King', 'Seattle', 'WA', '98199.0', 2019, 'TESLA', 'MODEL 3', 'Battery Electric Vehicle (BEV)', 'Clean Alternative Fuel Vehicle Eligible', 220, 0, 36, '9426525', 'POINT (-122.40092 47.65908)', 'CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)', '53033005803.0')
('1N4AZ0CP5D', 'King', 'Seattle', 'WA', '98119.0', 2013, 'NISSAN', 'LEAF', 'Battery Electric Vehicle (BEV)', 'Clean Alternative Fuel Vehicle Eligible', 75, 0, 36, '211807760', 'POINT (-122.3684 47.64586)', 'CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)', '53033005804.0')
('5YJSA1E21H', 'Thurston', 'Lacey', 'WA', '98516.0', 2017, 'TESLA', 'MODEL S', 'Battery Electric Vehicle (BEV)', 'Clean Alternative Fuel Vehicle Eligible', 210, 0, 22, '185810306', 'POINT (-122.75379 47.06316)', 'PUGET SOUND ENERGY INC', '53067012226.0')

In [ ]:
#count shows the number of rows

In [ ]:
# Execute the SQL query to aggregate the vehicles
query = "SELECT Make, Year, COUNT(*) as Count FROM vehicles GROUP BY Make, Year"
cursor.execute(query)

# Fetch all the rows of the result
results = cursor.fetchall()

In [ ]:
for row in results:
  print(row)

('AUDI', 2016, 209)
('AUDI', 2017, 188)
('AUDI', 2018, 178)
('AUDI', 2019, 408)
('AUDI', 2020, 223)
('AUDI', 2021, 526)
('AUDI', 2022, 610)
('AUDI', 2023, 280)
('AZURE DYNAMICS', 2011, 4)
('AZURE DYNAMICS', 2012, 3)
('BENTLEY', 2020, 1)
('BENTLEY', 2021, 1)
('BENTLEY', 2022, 1)
('BMW', 2014, 445)
('BMW', 2015, 410)
('BMW', 2016, 387)
('BMW', 2017, 663)
('BMW', 2018, 706)
('BMW', 2019, 297)
('BMW', 2020, 142)
('BMW', 2021, 624)
('BMW', 2022, 897)
('BMW', 2023, 1125)
('CADILLAC', 2014, 54)
('CADILLAC', 2016, 16)
('CADILLAC', 2017, 3)
('CADILLAC', 2018, 13)
('CADILLAC', 2023, 17)
('CHEVROLET', 1997, 1)
('CHEVROLET', 2011, 75)
('CHEVROLET', 2012, 483)
('CHEVROLET', 2013, 811)
('CHEVROLET', 2014, 721)
('CHEVROLET', 2015, 472)
('CHEVROLET', 2016, 305)
('CHEVROLET', 2017, 2733)
('CHEVROLET', 2018, 1138)
('CHEVROLET', 2019, 976)
('CHEVROLET', 2020, 939)
('CHEVROLET', 2021, 367)
('CHEVROLET', 2022, 934)
('CHEVROLET', 2023, 1296)
('CHRYSLER', 2017, 95)
('CHRYSLER', 2018, 552)
('CHRYSLER', 2019, 119)
('CHRYSLER', 2020, 291)
('CHRYSLER', 2021, 490)
('CHRYSLER', 2022, 349)
('CHRYSLER', 2023, 243)
('FIAT', 2013, 106)
('FIAT', 2014, 100)
('FIAT', 2015, 234)
('FIAT', 2016, 146)
('FIAT', 2017, 156)
('FIAT', 2018, 48)
('FIAT', 2019, 13)
('FISKER', 2012, 14)
('FORD', 1998, 1)
('FORD', 1999, 4)
('FORD', 2000, 9)
('FORD', 2012, 12)
('FORD', 2013, 629)
('FORD', 2014, 619)
('FORD', 2015, 550)
('FORD', 2016, 784)
('FORD', 2017, 650)
('FORD', 2018, 165)
('FORD', 2019, 146)
('FORD', 2020, 65)
('FORD', 2021, 865)
('FORD', 2022, 1739)
('FORD', 2023, 505)
('GENESIS', 2023, 54)
('HONDA', 2014, 9)
('HONDA', 2018, 606)
('HONDA', 2019, 79)
('HONDA', 2020, 81)
('HONDA', 2021, 16)
('HYUNDAI', 2016, 41)
('HYUNDAI', 2017, 45)
('HYUNDAI', 2018, 21)
('HYUNDAI', 2019, 123)
('HYUNDAI', 2020, 208)
('HYUNDAI', 2021, 180)
('HYUNDAI', 2022, 624)
('HYUNDAI', 2023, 902)
('JAGUAR', 2019, 122)
('JAGUAR', 2020, 74)
('JAGUAR', 2021, 6)
('JAGUAR', 2022, 19)
('JAGUAR', 2023, 1)
('JEEP', 2021, 629)
('JEEP', 2022, 722)
('JEEP', 2023, 977)
('KIA', 2015, 21)
('KIA', 2016, 402)
('KIA', 2017, 210)
('KIA', 2018, 314)
('KIA', 2019, 679)
('KIA', 2020, 513)
('KIA', 2021, 75)
('KIA', 2022, 2122)
('KIA', 2023, 916)
('LAND ROVER', 2020, 30)
('LAND ROVER', 2021, 8)
('LAND ROVER', 2023, 3)
('LEXUS', 2022, 41)
('LEXUS', 2023, 23)
('LINCOLN', 2020, 29)
('LINCOLN', 2021, 41)
('LINCOLN', 2022, 116)
('LINCOLN', 2023, 22)
('LUCID', 2022, 99)
('LUCID', 2023, 34)
('MERCEDES-BENZ', 2014, 29)
('MERCEDES-BENZ', 2015, 23)
('MERCEDES-BENZ', 2016, 35)
('MERCEDES-BENZ', 2017, 44)
('MERCEDES-BENZ', 2018, 57)
('MERCEDES-BENZ', 2019, 139)
('MERCEDES-BENZ', 2020, 33)
('MERCEDES-BENZ', 2022, 144)
('MERCEDES-BENZ', 2023, 207)
('MINI', 2018, 50)
('MINI', 2019, 99)
('MINI', 2020, 3)
('MINI', 2021, 138)
('MINI', 2022, 219)
('MINI', 2023, 219)
('MITSUBISHI', 2012, 43)
('MITSUBISHI', 2014, 10)
('MITSUBISHI', 2016, 10)
('MITSUBISHI', 2017, 1)
('MITSUBISHI', 2018, 187)
('MITSUBISHI', 2019, 152)
('MITSUBISHI', 2020, 95)
('MITSUBISHI', 2021, 9)
('MITSUBISHI', 2022, 85)
('MITSUBISHI', 2023, 118)
('NISSAN', 2011, 720)
('NISSAN', 2012, 594)
('NISSAN', 2013, 1923)
('NISSAN', 2014, 662)
('NISSAN', 2015, 1839)
('NISSAN', 2016, 1179)
('NISSAN', 2017, 942)
('NISSAN', 2018, 1230)
('NISSAN', 2019, 1398)
('NISSAN', 2020, 602)
('NISSAN', 2021, 496)
('NISSAN', 2022, 938)
('NISSAN', 2023, 500)
('POLESTAR', 2021, 104)
('POLESTAR', 2022, 367)
('POLESTAR', 2023, 177)
('PORSCHE', 2014, 8)
('PORSCHE', 2015, 36)
('PORSCHE', 2016, 77)
('PORSCHE', 2017, 72)
('PORSCHE', 2018, 81)
('PORSCHE', 2019, 66)
('PORSCHE', 2020, 158)
('PORSCHE', 2021, 164)
('PORSCHE', 2022, 212)
('PORSCHE', 2023, 62)
('RIVIAN', 2022, 1280)
('RIVIAN', 2023, 332)
('SMART', 2013, 30)
('SMART', 2014, 70)
('SMART', 2015, 52)
('SMART', 2016, 34)
('SMART', 2017, 34)
('SMART', 2018, 48)
('SMART', 2019, 8)
('SUBARU', 2019, 64)
('SUBARU', 2023, 167)
('TESLA', 2008, 21)
('TESLA', 2010, 21)
('TESLA', 2011, 7)
('TESLA', 2012, 124)
('TESLA', 2013, 775)
('TESLA', 2014, 648)
('TESLA', 2015, 1083)
('TESLA', 2016, 1616)
('TESLA', 2017, 1656)
('TESLA', 2018, 8036)
('TESLA', 2019, 4734)
('TESLA', 2020, 7052)
('TESLA', 2021, 11101)
('TESLA', 2022, 14283)
('TESLA', 2023, 8472)
('TH!NK', 2011, 3)
('TOYOTA', 2002, 2)
('TOYOTA', 2003, 1)
('TOYOTA', 2012, 386)
('TOYOTA', 2013, 301)
('TOYOTA', 2014, 216)
('TOYOTA', 2015, 92)
('TOYOTA', 2017, 892)
('TOYOTA', 2018, 660)
('TOYOTA', 2019, 190)
('TOYOTA', 2020, 327)
('TOYOTA', 2021, 985)
('TOYOTA', 2022, 535)
('TOYOTA', 2023, 183)
('VOLKSWAGEN', 2015, 119)
('VOLKSWAGEN', 2016, 328)
('VOLKSWAGEN', 2017, 51)
('VOLKSWAGEN', 2018, 36)
('VOLKSWAGEN', 2019, 501)
('VOLKSWAGEN', 2021, 975)
('VOLKSWAGEN', 2022, 723)
('VOLKSWAGEN', 2023, 699)
('VOLVO', 2016, 110)
('VOLVO', 2017, 116)
('VOLVO', 2018, 228)
('VOLVO', 2019, 194)
('VOLVO', 2020, 183)
('VOLVO', 2021, 645)
('VOLVO', 2022, 954)
('VOLVO', 2023, 683)
('WHEEGO ELECTRIC CARS', 2010, 3)

In [ ]:
# Execute the SQL query to get the range of BaseMSRP values
query = "SELECT MIN(BaseMSRP) AS MinValue, MAX(BaseMSRP) AS MaxValue FROM vehicles"
cursor.execute(query)

# Fetch the result
result = cursor.fetchone()

# Extract the minimum and maximum values
min_value = result[0]
max_value = result[1]

# Print the range of BaseMSRP values
print(f"Range of BaseMSRP values: {min_value} - {max_value}")

Range of BaseMSRP values: 0 - 845000

Update the quesry to exclude values where the Base MSRP price is zero.

In [ ]:
# Execute the SQL query to get the range of BaseMSRP values
query = "SELECT MIN(BaseMSRP) AS MinValue, MAX(BaseMSRP) AS MaxValue FROM vehicles WHERE BaseMSRP > 0"
cursor.execute(query)

# Fetch the result
result = cursor.fetchone()

# Extract the minimum and maximum values
min_value = result[0]
max_value = result[1]

# Print the range of BaseMSRP values
print(f"Range of BaseMSRP values: {min_value} - {max_value}")

Range of BaseMSRP values: 31950 - 845000

In [ ]:
# Execute the SQL query to get the count of vehicles by Make and Year
query = "SELECT Make, Year, COUNT(*) AS VehicleCount FROM vehicles GROUP BY Year, Make"
cursor.execute(query)

# Fetch all the rows of the result
results = cursor.fetchall()

# Print the count of vehicles by Make and Year
for row in results:
    make = row[0]
    model_year = row[1]
    count = row[2]
    print(f"Year: {model_year}, Make: {make}, Vehicle Count: {count}")

Year: 1997, Make: CHEVROLET, Vehicle Count: 1
Year: 1998, Make: FORD, Vehicle Count: 1
Year: 1999, Make: FORD, Vehicle Count: 4
Year: 2000, Make: FORD, Vehicle Count: 9
Year: 2002, Make: TOYOTA, Vehicle Count: 2
Year: 2003, Make: TOYOTA, Vehicle Count: 1
Year: 2008, Make: TESLA, Vehicle Count: 21
Year: 2010, Make: TESLA, Vehicle Count: 21
Year: 2010, Make: WHEEGO ELECTRIC CARS, Vehicle Count: 3
Year: 2011, Make: AZURE DYNAMICS, Vehicle Count: 4
Year: 2011, Make: CHEVROLET, Vehicle Count: 75
Year: 2011, Make: NISSAN, Vehicle Count: 720
Year: 2011, Make: TESLA, Vehicle Count: 7
Year: 2011, Make: TH!NK, Vehicle Count: 3
Year: 2012, Make: AZURE DYNAMICS, Vehicle Count: 3
Year: 2012, Make: CHEVROLET, Vehicle Count: 483
Year: 2012, Make: FISKER, Vehicle Count: 14
Year: 2012, Make: FORD, Vehicle Count: 12
Year: 2012, Make: MITSUBISHI, Vehicle Count: 43
Year: 2012, Make: NISSAN, Vehicle Count: 594
Year: 2012, Make: TESLA, Vehicle Count: 124
Year: 2012, Make: TOYOTA, Vehicle Count: 386
Year: 2013, Make: CHEVROLET, Vehicle Count: 811
Year: 2013, Make: FIAT, Vehicle Count: 106
Year: 2013, Make: FORD, Vehicle Count: 629
Year: 2013, Make: NISSAN, Vehicle Count: 1923
Year: 2013, Make: SMART, Vehicle Count: 30
Year: 2013, Make: TESLA, Vehicle Count: 775
Year: 2013, Make: TOYOTA, Vehicle Count: 301
Year: 2014, Make: BMW, Vehicle Count: 445
Year: 2014, Make: CADILLAC, Vehicle Count: 54
Year: 2014, Make: CHEVROLET, Vehicle Count: 721
Year: 2014, Make: FIAT, Vehicle Count: 100
Year: 2014, Make: FORD, Vehicle Count: 619
Year: 2014, Make: HONDA, Vehicle Count: 9
Year: 2014, Make: MERCEDES-BENZ, Vehicle Count: 29
Year: 2014, Make: MITSUBISHI, Vehicle Count: 10
Year: 2014, Make: NISSAN, Vehicle Count: 662
Year: 2014, Make: PORSCHE, Vehicle Count: 8
Year: 2014, Make: SMART, Vehicle Count: 70
Year: 2014, Make: TESLA, Vehicle Count: 648
Year: 2014, Make: TOYOTA, Vehicle Count: 216
Year: 2015, Make: BMW, Vehicle Count: 410
Year: 2015, Make: CHEVROLET, Vehicle Count: 472
Year: 2015, Make: FIAT, Vehicle Count: 234
Year: 2015, Make: FORD, Vehicle Count: 550
Year: 2015, Make: KIA, Vehicle Count: 21
Year: 2015, Make: MERCEDES-BENZ, Vehicle Count: 23
Year: 2015, Make: NISSAN, Vehicle Count: 1839
Year: 2015, Make: PORSCHE, Vehicle Count: 36
Year: 2015, Make: SMART, Vehicle Count: 52
Year: 2015, Make: TESLA, Vehicle Count: 1083
Year: 2015, Make: TOYOTA, Vehicle Count: 92
Year: 2015, Make: VOLKSWAGEN, Vehicle Count: 119
Year: 2016, Make: AUDI, Vehicle Count: 209
Year: 2016, Make: BMW, Vehicle Count: 387
Year: 2016, Make: CADILLAC, Vehicle Count: 16
Year: 2016, Make: CHEVROLET, Vehicle Count: 305
Year: 2016, Make: FIAT, Vehicle Count: 146
Year: 2016, Make: FORD, Vehicle Count: 784
Year: 2016, Make: HYUNDAI, Vehicle Count: 41
Year: 2016, Make: KIA, Vehicle Count: 402
Year: 2016, Make: MERCEDES-BENZ, Vehicle Count: 35
Year: 2016, Make: MITSUBISHI, Vehicle Count: 10
Year: 2016, Make: NISSAN, Vehicle Count: 1179
Year: 2016, Make: PORSCHE, Vehicle Count: 77
Year: 2016, Make: SMART, Vehicle Count: 34
Year: 2016, Make: TESLA, Vehicle Count: 1616
Year: 2016, Make: VOLKSWAGEN, Vehicle Count: 328
Year: 2016, Make: VOLVO, Vehicle Count: 110
Year: 2017, Make: AUDI, Vehicle Count: 188
Year: 2017, Make: BMW, Vehicle Count: 663
Year: 2017, Make: CADILLAC, Vehicle Count: 3
Year: 2017, Make: CHEVROLET, Vehicle Count: 2733
Year: 2017, Make: CHRYSLER, Vehicle Count: 95
Year: 2017, Make: FIAT, Vehicle Count: 156
Year: 2017, Make: FORD, Vehicle Count: 650
Year: 2017, Make: HYUNDAI, Vehicle Count: 45
Year: 2017, Make: KIA, Vehicle Count: 210
Year: 2017, Make: MERCEDES-BENZ, Vehicle Count: 44
Year: 2017, Make: MITSUBISHI, Vehicle Count: 1
Year: 2017, Make: NISSAN, Vehicle Count: 942
Year: 2017, Make: PORSCHE, Vehicle Count: 72
Year: 2017, Make: SMART, Vehicle Count: 34
Year: 2017, Make: TESLA, Vehicle Count: 1656
Year: 2017, Make: TOYOTA, Vehicle Count: 892
Year: 2017, Make: VOLKSWAGEN, Vehicle Count: 51
Year: 2017, Make: VOLVO, Vehicle Count: 116
Year: 2018, Make: AUDI, Vehicle Count: 178
Year: 2018, Make: BMW, Vehicle Count: 706
Year: 2018, Make: CADILLAC, Vehicle Count: 13
Year: 2018, Make: CHEVROLET, Vehicle Count: 1138
Year: 2018, Make: CHRYSLER, Vehicle Count: 552
Year: 2018, Make: FIAT, Vehicle Count: 48
Year: 2018, Make: FORD, Vehicle Count: 165
Year: 2018, Make: HONDA, Vehicle Count: 606
Year: 2018, Make: HYUNDAI, Vehicle Count: 21
Year: 2018, Make: KIA, Vehicle Count: 314
Year: 2018, Make: MERCEDES-BENZ, Vehicle Count: 57
Year: 2018, Make: MINI, Vehicle Count: 50
Year: 2018, Make: MITSUBISHI, Vehicle Count: 187
Year: 2018, Make: NISSAN, Vehicle Count: 1230
Year: 2018, Make: PORSCHE, Vehicle Count: 81
Year: 2018, Make: SMART, Vehicle Count: 48
Year: 2018, Make: TESLA, Vehicle Count: 8036
Year: 2018, Make: TOYOTA, Vehicle Count: 660
Year: 2018, Make: VOLKSWAGEN, Vehicle Count: 36
Year: 2018, Make: VOLVO, Vehicle Count: 228
Year: 2019, Make: AUDI, Vehicle Count: 408
Year: 2019, Make: BMW, Vehicle Count: 297
Year: 2019, Make: CHEVROLET, Vehicle Count: 976
Year: 2019, Make: CHRYSLER, Vehicle Count: 119
Year: 2019, Make: FIAT, Vehicle Count: 13
Year: 2019, Make: FORD, Vehicle Count: 146
Year: 2019, Make: HONDA, Vehicle Count: 79
Year: 2019, Make: HYUNDAI, Vehicle Count: 123
Year: 2019, Make: JAGUAR, Vehicle Count: 122
Year: 2019, Make: KIA, Vehicle Count: 679
Year: 2019, Make: MERCEDES-BENZ, Vehicle Count: 139
Year: 2019, Make: MINI, Vehicle Count: 99
Year: 2019, Make: MITSUBISHI, Vehicle Count: 152
Year: 2019, Make: NISSAN, Vehicle Count: 1398
Year: 2019, Make: PORSCHE, Vehicle Count: 66
Year: 2019, Make: SMART, Vehicle Count: 8
Year: 2019, Make: SUBARU, Vehicle Count: 64
Year: 2019, Make: TESLA, Vehicle Count: 4734
Year: 2019, Make: TOYOTA, Vehicle Count: 190
Year: 2019, Make: VOLKSWAGEN, Vehicle Count: 501
Year: 2019, Make: VOLVO, Vehicle Count: 194
Year: 2020, Make: AUDI, Vehicle Count: 223
Year: 2020, Make: BENTLEY, Vehicle Count: 1
Year: 2020, Make: BMW, Vehicle Count: 142
Year: 2020, Make: CHEVROLET, Vehicle Count: 939
Year: 2020, Make: CHRYSLER, Vehicle Count: 291
Year: 2020, Make: FORD, Vehicle Count: 65
Year: 2020, Make: HONDA, Vehicle Count: 81
Year: 2020, Make: HYUNDAI, Vehicle Count: 208
Year: 2020, Make: JAGUAR, Vehicle Count: 74
Year: 2020, Make: KIA, Vehicle Count: 513
Year: 2020, Make: LAND ROVER, Vehicle Count: 30
Year: 2020, Make: LINCOLN, Vehicle Count: 29
Year: 2020, Make: MERCEDES-BENZ, Vehicle Count: 33
Year: 2020, Make: MINI, Vehicle Count: 3
Year: 2020, Make: MITSUBISHI, Vehicle Count: 95
Year: 2020, Make: NISSAN, Vehicle Count: 602
Year: 2020, Make: PORSCHE, Vehicle Count: 158
Year: 2020, Make: TESLA, Vehicle Count: 7052
Year: 2020, Make: TOYOTA, Vehicle Count: 327
Year: 2020, Make: VOLVO, Vehicle Count: 183
Year: 2021, Make: AUDI, Vehicle Count: 526
Year: 2021, Make: BENTLEY, Vehicle Count: 1
Year: 2021, Make: BMW, Vehicle Count: 624
Year: 2021, Make: CHEVROLET, Vehicle Count: 367
Year: 2021, Make: CHRYSLER, Vehicle Count: 490
Year: 2021, Make: FORD, Vehicle Count: 865
Year: 2021, Make: HONDA, Vehicle Count: 16
Year: 2021, Make: HYUNDAI, Vehicle Count: 180
Year: 2021, Make: JAGUAR, Vehicle Count: 6
Year: 2021, Make: JEEP, Vehicle Count: 629
Year: 2021, Make: KIA, Vehicle Count: 75
Year: 2021, Make: LAND ROVER, Vehicle Count: 8
Year: 2021, Make: LINCOLN, Vehicle Count: 41
Year: 2021, Make: MINI, Vehicle Count: 138
Year: 2021, Make: MITSUBISHI, Vehicle Count: 9
Year: 2021, Make: NISSAN, Vehicle Count: 496
Year: 2021, Make: POLESTAR, Vehicle Count: 104
Year: 2021, Make: PORSCHE, Vehicle Count: 164
Year: 2021, Make: TESLA, Vehicle Count: 11101
Year: 2021, Make: TOYOTA, Vehicle Count: 985
Year: 2021, Make: VOLKSWAGEN, Vehicle Count: 975
Year: 2021, Make: VOLVO, Vehicle Count: 645
Year: 2022, Make: AUDI, Vehicle Count: 610
Year: 2022, Make: BENTLEY, Vehicle Count: 1
Year: 2022, Make: BMW, Vehicle Count: 897
Year: 2022, Make: CHEVROLET, Vehicle Count: 934
Year: 2022, Make: CHRYSLER, Vehicle Count: 349
Year: 2022, Make: FORD, Vehicle Count: 1739
Year: 2022, Make: HYUNDAI, Vehicle Count: 624
Year: 2022, Make: JAGUAR, Vehicle Count: 19
Year: 2022, Make: JEEP, Vehicle Count: 722
Year: 2022, Make: KIA, Vehicle Count: 2122
Year: 2022, Make: LEXUS, Vehicle Count: 41
Year: 2022, Make: LINCOLN, Vehicle Count: 116
Year: 2022, Make: LUCID, Vehicle Count: 99
Year: 2022, Make: MERCEDES-BENZ, Vehicle Count: 144
Year: 2022, Make: MINI, Vehicle Count: 219
Year: 2022, Make: MITSUBISHI, Vehicle Count: 85
Year: 2022, Make: NISSAN, Vehicle Count: 938
Year: 2022, Make: POLESTAR, Vehicle Count: 367
Year: 2022, Make: PORSCHE, Vehicle Count: 212
Year: 2022, Make: RIVIAN, Vehicle Count: 1280
Year: 2022, Make: TESLA, Vehicle Count: 14283
Year: 2022, Make: TOYOTA, Vehicle Count: 535
Year: 2022, Make: VOLKSWAGEN, Vehicle Count: 723
Year: 2022, Make: VOLVO, Vehicle Count: 954
Year: 2023, Make: AUDI, Vehicle Count: 280
Year: 2023, Make: BMW, Vehicle Count: 1125
Year: 2023, Make: CADILLAC, Vehicle Count: 17
Year: 2023, Make: CHEVROLET, Vehicle Count: 1296
Year: 2023, Make: CHRYSLER, Vehicle Count: 243
Year: 2023, Make: FORD, Vehicle Count: 505
Year: 2023, Make: GENESIS, Vehicle Count: 54
Year: 2023, Make: HYUNDAI, Vehicle Count: 902
Year: 2023, Make: JAGUAR, Vehicle Count: 1
Year: 2023, Make: JEEP, Vehicle Count: 977
Year: 2023, Make: KIA, Vehicle Count: 916
Year: 2023, Make: LAND ROVER, Vehicle Count: 3
Year: 2023, Make: LEXUS, Vehicle Count: 23
Year: 2023, Make: LINCOLN, Vehicle Count: 22
Year: 2023, Make: LUCID, Vehicle Count: 34
Year: 2023, Make: MERCEDES-BENZ, Vehicle Count: 207
Year: 2023, Make: MINI, Vehicle Count: 219
Year: 2023, Make: MITSUBISHI, Vehicle Count: 118
Year: 2023, Make: NISSAN, Vehicle Count: 500
Year: 2023, Make: POLESTAR, Vehicle Count: 177
Year: 2023, Make: PORSCHE, Vehicle Count: 62
Year: 2023, Make: RIVIAN, Vehicle Count: 332
Year: 2023, Make: SUBARU, Vehicle Count: 167
Year: 2023, Make: TESLA, Vehicle Count: 8472
Year: 2023, Make: TOYOTA, Vehicle Count: 183
Year: 2023, Make: VOLKSWAGEN, Vehicle Count: 699
Year: 2023, Make: VOLVO, Vehicle Count: 683

Calculate the total cost of all electric vehicles bought in 2017

In [ ]:
query="SELECT SUM(BaseMSRP) AS TotalCost FROM vehicles WHERE Year = 2017 AND ElectricVehicleType = 'Electric'"
cursor.execute(query)
# Fetch all the rows of the result
results = cursor.fetchall()

# Print the count of vehicles by Make and Year
for row in results:
    make = row[0]